{% extends "frontstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}carstore{% endblock title%}

{% block content%}

<br/>
<div class="container-xl">
  <br/>
  <h2 class="mb-4 text-center">確認訂單資訊</h2>
  <form method="post" action={{ url_for('carstore.cart') }}>
    <table class="table table-bordered">
      <tr>
        <th><center>車輛編號</center></th>
        <th><center>車輛型號</center></th>
        <th><center>租金</center></th>
        <th><center>時數</center></th>
      </tr>
      {% for car in data %}
      <tr>
        <td> <center>{{ car.車輛編號 }}</center></td>
        <td> <center>{{ car.車輛型號 }}</center></td>
        <td> <center>{{ car.租金 }}</center></td>
        <td width="20%">
          <center>
            {{ car.時數 }}
          </center>
        </td>
      </tr>
      {% endfor %}
    </table>
    <div class="col align-self-end">
      
    </div>
    <div class="container-xxl" style="text-align: right;">
      <div class="row">
        <div class="col align-self-start">
 
        </div>
        <div class="col align-self-center">

        </div>
        <div class="col align-self-end">
          <b class="ml-50">訂單總價：{{ total }} 元</b>
        </div>
      </div>
    </div>

    
    <center> 
      <div class="option">
        <button class="btn btn-primary" type="submit" name="undo">上一步</button>
        <button class="btn btn-success" type="submit" value="order" name="order">確認付款</button>
    </div>
    </center>

  </form>
</div>
{% endblock content%}