{% extends "frontstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}carstore{% endblock title%}

{% block content %}


<br/>
<div class="row">
<div class="card" style="width: 20rem;margin-left:5%">
  <img src="{{ data.車輛圖片 }}" class="card-img-top" alt="車輛圖片">
  <div class="card-body">
    <h5 class="card-title">{{ data.車輛型號 }}</h5>
    <p class="card-text"></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>車輛品牌</b>&nbsp;&nbsp;{{ data.車輛品牌 }}</li>
    <li class="list-group-item"><b>年分</b>&nbsp;&nbsp;{{ data.年分 }}</li>
    <li class="list-group-item"><b>里程</b>&nbsp;&nbsp;{{ data.里程 }}</li>
    <li class="list-group-item"><b>顏色</b>&nbsp;&nbsp;{{ data.顏色 }}</li>
    <li class="list-group-item"><b>租金</b>&nbsp;&nbsp;{{ data.租金 }}</li>

  </ul>
  <div class="card-body">
    <a href="{{ url_for('carstore.carstore') }}" class="btn btn-outline-primary">回商品列表</a>
  </div>
</div>


<div class="col-sm-6">
  <form method="post" action={{ url_for('carstore.cart') }}>
<div class="card" style="margin-top:10%">
  <h5 class="card-header">車輛狀態</h5>
  <div class="card-body">
    <p class="card-text">
      {{data.車輛狀態}}
    </p>
    <button class="btn btn-outline-success" type="submit" value="{{data.車輛編號}}" name="pid">預約</a>
  </div>
</div>
</form>
</div>


</div>

{% endblock content%}