{% extends "frontstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}BookStore{% endblock title%}

{% block content%}

<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="container mt-5">
        <h2 class="mb-4 text-center">修改會員資料</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                    {% for category, message in messages %}
                        <span style="color: red;">{{ message }}</span>
                    {% endfor %}
            {% endif %}
        {% endwith %}
        <form  method='post' action={{ url_for('carstore.userinfo') }}>
            <!-- 姓名 -->
            <div class="mb-3">
                <label for="user_name" class="form-label">姓名</label>
                <input type="text" class="form-control" name="user_name" placeholder="請輸入姓名" value="{{ user_name }}" required>
            </div>

            <!-- 身分證字號 -->
            <div class="mb-3">
                <label for="user_id" class="form-label">身分證字號</label>
                <input type="text" class="form-control" name="user_id" placeholder="請輸入身分證字號" value="{{ user_id }}"  minlength="10" maxlength="10" required>
            </div>

            <!-- 駕照號碼 -->
            <div class="mb-3">
                <label for="licenseNumber" class="form-label">駕照號碼</label>
                <input type="text" class="form-control" name="license_number" placeholder="請輸入駕照號碼" value="{{ license_number }}" required>
            </div>

            <!-- 聯絡電話 -->
            <div class="mb-3">
                <label for="phoneNumber" class="form-label">聯絡電話</label>
                <input type="tel" class="form-control" name="phone_number" placeholder="請輸入聯絡電話" value="{{ phone_number }}" minlength="10" maxlength="10" required>
            </div>
            
            <!-- 地址 -->
             <div class="mb-3">
                <label for="address" class="form-label">住家地址</label>
                <input type="text" class="form-control" name="address" placeholder="請輸入住家地址" value="{{ address }}" required>
            </div>

            <!-- 按鈕區塊 -->
            <div class="text-center d-flex justify-content-center gap-2">
                <button type="submit" class="btn btn-primary">提交</button>
                <button type="reset" class="btn btn-secondary">取消</button>
            </div>
        </form>
    </div>
</div>

{% endblock content%}