{% extends "backstage.html" %}
{% block head %}
{{ super() }}

{% endblock head %}

{% block title %}BookStore{% endblock title%}

{% block content%}


<br/>
<div class="container-xl">
  <br/>
  <form method="post" enctype=multipart/form-data action={{ url_for('manager.edit') }}>
    <table class="table table-bordered">
      <tr>
        <th>車輛編號</th>
        <td><input class="form-control" type="text" value="{{ data.車輛編號 }}" name="pid" readonly class="id_input"></td>
      </tr>
      <tr>
        <th>車輛品牌</th>
        <td><input class="form-control" type="text" value="{{ data.車輛品牌 }}" name="brand" required></td>
      </tr>
      <tr>
        <th>車輛型號</th>
        <td><input class="form-control" type="text" value="{{ data.車輛型號 }}" name="model" required></td>
      </tr>
      <tr>
        <th>出廠年份</th>
        <td><input class="form-control" type="number" value="{{ data.出廠年份 }}" name="year" required></td>
      </tr>
      <tr>
        <th>總里程</th>
        <td><input class="form-control" type="number" value="{{ data.總里程 }}" name="mileage" required></td>
      </tr>
      <tr>
        <th>車輛顏色</th>
        <td><input class="form-control" type="text" value="{{ data.車輛顏色 }}" name="color" required></td>
      </tr>
      <tr>
        <th>價格(小時)</th>
        <td><input class="form-control" type="number" value="{{ data.價格 }}" name="price" required></td>
      </tr>
      <!-- <tr> -->
        <!-- <th>類別</th>
        <td>
          <select class="form-control" name="category">
            {% if data.類別 == 'CD' %}
              <option value="BOOK">BOOK</option>
              <option value="DVD">DVD</option>
              <option value="CD" selected>CD</option>
            {% elif data.類別 == 'DVD' %}
              <option value="BOOK">BOOK</option>
              <option value="DVD" selected>DVD</option>
              <option value="CD">CD</option>
            {% else %}
              <option value="BOOK" selected>BOOK</option>
              <option value="DVD">DVD</option>
              <option value="CD">CD</option>
            {% endif %}
            
        </select> -->
      <!-- </tr> -->
      <tr>
        <th>商品敘述</th>
        <td>
          <textarea class="form-control" name="status">{{ data.車輛敘述 }}</textarea>
        </td>
      </tr>
      <tr>
        <th>商品圖片</th>
        <td>
          <input type="file" name="file" id="file-uploader" accept="image/jpeg, image/png, image/jpg" data-target="file-uploader"/>
        </td>
      </tr>
    </table>
    <center>
      <div class="option">
        <button class="btn btn-outline-success" type="submit" name="submit" value="true">確定修改</button> 
        <a href="{{ url_for('manager.productManager') }}"><button class="btn btn-outline-danger">回商品管理</button></a>
      </div>
    </center>

  </form>
</div>



{% endblock content%}