{% extends "backstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %} 商品管理 {% endblock title %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages[0] == 'No permission' %}
  
<script language="javascript">

  alert('您沒有使用者的權限喔！');

</script>


{% endif %}
{% endwith %}

{% with messages = get_flashed_messages() %}
{% if messages[0] == 'failed' %}
  
<script language="javascript">

  alert('有使用者有使用到這筆資料，所以不能刪除');

</script>

{% endif %}
{% endwith %}

<script>
    $(document).ready(function(){
        $("#keyword").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#product tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
&nbsp;
&nbsp;
<div class="d-flex justify-content-between container-xxl">
    <div class="d-flex col-sm-4">
        <span class="input-group-text" id="basic-addon1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </span>
        <input class="form-control me-2" id="keyword" placeholder="搜尋商品" aria-label="Search">
    </div>
    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        新增商品
    </button>
</div>

<form method="post" enctype=multipart/form-data action={{ url_for('manager.add') }}>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">新增商品</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="inputbrand" class="form-label">車輛廠牌</label>
                        <input type="text" class="form-control" id="inputbrand" name="brand" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputmodel" class="form-label">車輛型號</label>
                        <input type="text" class="form-control" id="inputmodel" name="model" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputyear" class="form-label">出廠年份</label>
                        <input type="number" class="form-control" id="inputyear" name="year" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputmileage" class="form-label">里程</label>
                        <input type="number" class="form-control" id="inputmileage" name="mileage" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputcolor" class="form-label">車輛顏色</label>
                        <input type="text" class="form-control" id="inputcolor" name="color" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputprice" class="form-label">車輛價格(小時)</label>
                        <input type="number" class="form-control" id="inputprice" name="price" required>
                    </div>
                    <!-- <div class="mb-3">
                        <label for="inputProductCategory" class="form-label">商品種類</label>
                        <select id="inputProductCategory" class="form-select" name="category" required>
                            <option selected disabled value="">請選擇類型</option>
                            <option value="BOOK">BOOK</option>
                            <option value="CD">CD</option>
                            <option value="DVD">DVD</option>
                        </select>
                    </div> -->
                    <div class="mb-3">
                        <label for="inputstatus" class="form-label">車輛敘述</label>
                        <textarea class="form-control" id="inputstatus" name="status" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="inputProductImg" class="form-label">車輛圖片</label><br/>
                        <input type="file" name="file" id="file-uploader" accept="image/jpeg, image/png, image/jpg" data-target="file-uploader" required/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-success" name="submit" value="true">確定新增</button>
                </div>
            </div>
        </div>
    </div>
</form>

<br/>

<div class="container-xxl">

<form method='post' action={{ url_for('manager.productManager') }} >
<table id="manager" class="table table-bordered">
    <thead>
        <tr>
            <th width="10%"><center>車輛編號</center></th>
            <th width="15%"><center>車輛品牌</center></th>
            <th width="15%"><center>車輛型號</center></th>
            <th width="10%"><center>出廠年份</center></th>
            <th width="10%"><center>總里程</center></th>
            <th width="10%"><center>車輛顏色</center></th>
            <th width="10%"><center>價格(小時)</center></th>
            <th colspan="2"><center>資料操作</center></th>        
        </tr>
    </thead>
    <tbody id="product">
    {% for i in car_data %}
        <tr>
            <td><center>{{ i.車輛編號 }}</center></td>
            <td><center>{{ i.車輛品牌 }}</center></td>
            <td><center>{{ i.車輛型號 }}</center></td>
            <td><center>{{ i.出廠年份 }}</center></td>
            <td><center>{{ i.總里程 }}</center></td>
            <td><center>{{ i.車輛顏色 }}</center></td>
            <td><center>{{ i.價格 }}</center></td>
            <td><center><button type="submit" value="{{i.車輛編號}}" name="edit" class="btn btn-success">編輯商品</button></center></td>
            <td><center><button type="submit" value="{{i.車輛編號}}" name="delete" onclick="return (confirm('你確定要刪除 \'{{ i.車輛編號 }}\' 嗎？'))" class="btn btn-danger">刪除商品</button></center></td>
        </tr>
    {% endfor %}
    </tbody>
    
</table>
</form>


</div>

<script>
    function have_product(){
      alert('有使用者有使用到這筆資料，所以不能刪除');
    }
</script>

{% endblock content %}